<div class="container-fluid bg-3 text-center">
  <h3>About the Author</h3>
  <%= image_tag('tabi.jpg', class: 'img-circle', style: 'height: 200px')%>
  <h4>Tabi Slick is a web developer with a degree in Linguistics from the University of Texas. She was born with an immense appreciation for technology as well as literature and continues to dedicate her time to her passion of creating an intriguing piece of work.</h4>
</div>
<br>
